/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/05/2016, 18:54:13
    Author     : Jefferson
*/

.cat-cor{
    width: 15px;
    height: 15px;
    border-radius: 1px;
    display: inline-block;
    margin-right: 5px;
}
.cat-cor.my-colorpicker{
    cursor: pointer;
}
.todo-list.no-edit li{
    background-color: white;
    border-left: white;
}

.catnome{
    width: 50%;
    display: inline-block;
}

