/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/05/2016, 17:41:12
    Author     : Jefferson
*/

.product-img{
    width: 50px;
    height: 50px;
    text-align: center!important;
}
.product-img.tipotransacao2{
    background-color: #1abc9c!important;
}
.product-img.tipotransacao1{
    background-color: #e74c3c!important;
    
}
.tipoTransacao-icon{ 
    color: rgba(255, 255, 255, 0.6);
    line-height: 50px;
    font-size: 1.2em;
}

.cat-cor{
    width: 15px;
    height: 15px;
    border-radius: 1px;
    display: inline-block;
    margin-right: 5px;
}

.todo-list.no-edit li{
    background-color: white;
    border-left: white;
}

.categoria-lista{
    max-height: 200px;
    overflow-y: scroll
}

.bandeira-logo{
    width: 20px;
    height: 15px;
}