.clear {
  clear: both; }

body{
    background-color: #DDD!important;
}
body div.login-container {
    margin: 100px auto;
    width: 400px;
    height: auto;
    padding: 40px 40px;
    border-radius: 3px;
    background-color: white;
    box-sizing: border-box;
    border-bottom: 2px solid #BBB;
}
body div.login-container img {
    margin-left: 12.5%;
    width: 75%;
    height: auto;
}
body div.login-container form .input-group {
    margin: 20px 0;
}
body div.login-container form a {
  line-height: 35px; 
}
body div.login-container form input[type="submit"] {
  float: right;
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 500px) {
    body div.login-container {
        width: 90%;
    }
}
